In [280]:
# 1번 문제 - 17줄
import pandas as pd # 판다스 모듈 준비
import numpy as np # 결측치(NaN) 사용할 넘피 모듈 준비

In [281]:
pikachu = pd.read_excel("./남북한발전전력량.xlsx") # 엑셀 파일 읽어오기

In [282]:
pikachu.loc[9]="-" # 행 추가
pikachu

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,남한,합계,1077,1186,1310,1444,1650,1847,2055,2244,...,4031,4224,4336,4747,4969,5096,5171,5220,5281,5404
1,NaN,수력,64,51,49,60,41,55,52,54,...,50,56,56,65,78,77,84,78,58,66
2,NaN,화력,484,573,696,803,1022,1122,1264,1420,...,2551,2658,2802,3196,3343,3430,3581,3427,3402,3523
3,NaN,원자력,529,563,565,581,587,670,739,771,...,1429,1510,1478,1486,1547,1503,1388,1564,1648,1620
4,NaN,신재생,-,-,-,-,-,-,-,-,...,-,-,-,-,-,86,118,151,173,195
5,북한,합계,277,263,247,221,231,230,213,193,...,236,255,235,237,211,215,221,216,190,239
6,NaN,수력,156,150,142,133,138,142,125,107,...,133,141,125,134,132,135,139,130,100,128
7,NaN,화력,121,113,105,88,93,88,88,86,...,103,114,110,103,79,80,82,86,90,111
8,NaN,원자력,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
9,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [283]:
data = pikachu[[f"{str(num)}" for num in range(1990,2017)]] # 년도별 에너지 수치 데이터만 따로 저장 ["1990","1991",...,"2015","2016"]
for col in data.columns:  # 컬럼명을 반복하면서
    data[col].replace("-","0", inplace=True) #윤서님 아이디어

C:\Users\mathn\AppData\Local\Temp\ipykernel_8748\3666668541.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col].replace("-","0", inplace=True) #윤서님 아이디어

In [284]:
for col in data.columns:
    data[col]=data[col].astype("int32") # 수치 데이터로 모두 변환을 했으니 int형으로 Series 형변환시킴 , 동현님 아이디어
    
data=data.T # sum은 세로로 더해주니 열과 행을 뒤집어줌
result_sum = list(data.sum()) # pikachu DataFrame에 집어넣을 것이므로 list변환
result_sum

C:\Users\mathn\AppData\Local\Temp\ipykernel_8748\1717860753.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col]=data[col].astype("int32") # 수치 데이터로 모두 변환을 했으니 int형으로 Series 형변환시킴 , 동현님 아이디어
C:\Users\mathn\AppData\Local\Temp\ipykernel_8748\1717860753.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col]=data[col].astype("int32") # 수치 데이터로 모두 변환을 했으니 int형으로 Series 형변환시킴 , 동현님 아이디어
C:\Users\mathn\AppData\Local\Temp\ipykernel_8748\1717860753.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col]=data[col].astype("int32") # 수치 데이터로 모두 변환을 했으니 int형으로 Series 형변환시킴 , 동현님 아이디어
C:\Users\mathn\AppData\Local\Temp\ipykernel_8748\1717860753.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col]=data[col].astype("int32") # 수치 데이터로 모두 변환을 했으니 int형으로 Series 형변환시킴 , 동현님 아이디어
C:\Users\mathn\AppData\Local\Temp\ipykernel_8748\1717860753.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col]=data[col].astype("int32") # 수치 데이터로 모두 변환을 했으니 int형으로 Series 형변환시킴 , 동현님 아이디어
C:\Users\mathn\AppData\Local\Temp\ipykernel_8748\1717860753.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col]=data[col].astype("int32") # 수치 데이터로 모두 변환을 했으니 int형으로 Series 형변환시킴 , 동현님 아이디어
C:\Users\mathn\AppData\Local\Temp\ipykernel_8748\1717860753.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col]=data[col].astype("int32") # 수치 데이터로 모두 변환을 했으니 int형으로 Series 형변환시킴 , 동현님 아이디어
C:\Users\mathn\AppData\Local\Temp\ipykernel_8748\1717860753.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col]=data[col].astype("int32") # 수치 데이터로 모두 변환을 했으니 int형으로 Series 형변환시킴 , 동현님 아이디어
C:\Users\mathn\AppData\Local\Temp\ipykernel_8748\1717860753.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col]=data[col].astype("int32") # 수치 데이터로 모두 변환을 했으니 int형으로 Series 형변환시킴 , 동현님 아이디어
C:\Users\mathn\AppData\Local\Temp\ipykernel_8748\1717860753.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col]=data[col].astype("int32") # 수치 데이터로 모두 변환을 했으니 int형으로 Series 형변환시킴 , 동현님 아이디어
C:\Users\mathn\AppData\Local\Temp\ipykernel_8748\1717860753.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col]=data[col].astype("int32") # 수치 데이터로 모두 변환을 했으니 int형으로 Series 형변환시킴 , 동현님 아이디어
C:\Users\mathn\AppData\Local\Temp\ipykernel_8748\1717860753.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col]=data[col].astype("int32") # 수치 데이터로 모두 변환을 했으니 int형으로 Series 형변환시킴 , 동현님 아이디어
C:\Users\mathn\AppData\Local\Temp\ipykernel_8748\1717860753.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col]=data[col].astype("int32") # 수치 데이터로 모두 변환을 했으니 int형으로 Series 형변환시킴 , 동현님 아이디어
C:\Users\mathn\AppData\Local\Temp\ipykernel_8748\1717860753.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col]=data[col].astype("int32") # 수치 데이터로 모두 변환을 했으니 int형으로 Series 형변환시킴 , 동현님 아이디어
C:\Users\mathn\AppData\Local\Temp\ipykernel_8748\1717860753.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col]=data[col].astype("int32") # 수치 데이터로 모두 변환을 했으니 int형으로 Series 형변환시킴 , 동현님 아이디어
C:\Users\mathn\AppData\Local\Temp\ipykernel_8748\1717860753.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col]=data[col].astype("int32") # 수치 데이터로 모두 변환을 했으니 int형으로 Series 형변환시킴 , 동현님 아이디어
C:\Users\mathn\AppData\Local\Temp\ipykernel_8748\1717860753.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col]=data[col].astype("int32") # 수치 데이터로 모두 변환을 했으니 int형으로 Series 형변환시킴 , 동현님 아이디어
C:\Users\mathn\AppData\Local\Temp\ipykernel_8748\1717860753.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col]=data[col].astype("int32") # 수치 데이터로 모두 변환을 했으니 int형으로 Series 형변환시킴 , 동현님 아이디어
C:\Users\mathn\AppData\Local\Temp\ipykernel_8748\1717860753.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col]=data[col].astype("int32") # 수치 데이터로 모두 변환을 했으니 int형으로 Series 형변환시킴 , 동현님 아이디어
C:\Users\mathn\AppData\Local\Temp\ipykernel_8748\1717860753.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col]=data[col].astype("int32") # 수치 데이터로 모두 변환을 했으니 int형으로 Series 형변환시킴 , 동현님 아이디어
C:\Users\mathn\AppData\Local\Temp\ipykernel_8748\1717860753.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col]=data[col].astype("int32") # 수치 데이터로 모두 변환을 했으니 int형으로 Series 형변환시킴 , 동현님 아이디어
C:\Users\mathn\AppData\Local\Temp\ipykernel_8748\1717860753.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col]=data[col].astype("int32") # 수치 데이터로 모두 변환을 했으니 int형으로 Series 형변환시킴 , 동현님 아이디어
C:\Users\mathn\AppData\Local\Temp\ipykernel_8748\1717860753.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col]=data[col].astype("int32") # 수치 데이터로 모두 변환을 했으니 int형으로 Series 형변환시킴 , 동현님 아이디어
C:\Users\mathn\AppData\Local\Temp\ipykernel_8748\1717860753.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col]=data[col].astype("int32") # 수치 데이터로 모두 변환을 했으니 int형으로 Series 형변환시킴 , 동현님 아이디어
C:\Users\mathn\AppData\Local\Temp\ipykernel_8748\1717860753.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col]=data[col].astype("int32") # 수치 데이터로 모두 변환을 했으니 int형으로 Series 형변환시킴 , 동현님 아이디어
C:\Users\mathn\AppData\Local\Temp\ipykernel_8748\1717860753.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col]=data[col].astype("int32") # 수치 데이터로 모두 변환을 했으니 int형으로 Series 형변환시킴 , 동현님 아이디어
C:\Users\mathn\AppData\Local\Temp\ipykernel_8748\1717860753.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col]=data[col].astype("int32") # 수치 데이터로 모두 변환을 했으니 int형으로 Series 형변환시킴 , 동현님 아이디어

[88523, 1599, 55136, 31067, 723, 5914, 3408, 2506, 0, 0]

In [285]:
pikachu.loc[9,"발전 전력별"]="신재생"  # 해당 부분에 값 넣기
pikachu.loc[9,"전력량 (억㎾h)"]=np.nan # 해당 부분에 값 넣기
pikachu["총계"]=result_sum # 새롭게 생겨난 열에 합산 결과를 담은 리스트 입력
pikachu # 추가

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,총계
0,남한,합계,1077,1186,1310,1444,1650,1847,2055,2244,...,4224,4336,4747,4969,5096,5171,5220,5281,5404,88523
1,NaN,수력,64,51,49,60,41,55,52,54,...,56,56,65,78,77,84,78,58,66,1599
2,NaN,화력,484,573,696,803,1022,1122,1264,1420,...,2658,2802,3196,3343,3430,3581,3427,3402,3523,55136
3,NaN,원자력,529,563,565,581,587,670,739,771,...,1510,1478,1486,1547,1503,1388,1564,1648,1620,31067
4,NaN,신재생,-,-,-,-,-,-,-,-,...,-,-,-,-,86,118,151,173,195,723
5,북한,합계,277,263,247,221,231,230,213,193,...,255,235,237,211,215,221,216,190,239,5914
6,NaN,수력,156,150,142,133,138,142,125,107,...,141,125,134,132,135,139,130,100,128,3408
7,NaN,화력,121,113,105,88,93,88,88,86,...,114,110,103,79,80,82,86,90,111,2506
8,NaN,원자력,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,0
9,NaN,신재생,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,0

In [286]:
#2번 문제-25줄
import pandas as pd # 판다스 모듈 준비

In [287]:
move=pd.read_excel("시도별 전출입 인구수.xlsx") # 엑셀 데이터 읽어들이기

In [288]:
data = move[[f"{str(num)}" for num in range(1970,2018)]] # 년도별 에너지 수치 데이터만 따로 저장 ["1970","1971",...,"2016","2017"]
data=data.drop([0])
print(data["1970"].value_counts().count())
for col in data.columns:  # 컬럼명을 반복하면서
    data[col].replace('-','0',inplace=True)

145

In [289]:
for col in data.columns:
    data[col]=data[col].astype("int64") # 수치 데이터로 모두 변환을 했으니 int형으로 Series 형변환시킴
data=data.T # 진우님 아이디어
result=list(data.sum()) # 각 가로줄 별로 합산함 -> 지역에서 지역별로 1970~2017년 동안 이동한 인구의 총 합계를 계산함

In [290]:
move=pd.read_excel("시도별 전출입 인구수.xlsx", usecols=['전출지별','전입지별']) # 파일을 새로 불러들임(근데 생각해보니 필요없었음)

In [291]:
move = move.drop([0]) # result(합산결과) 와 길이를 맞추기 위해서 move의 데이터 한 행 삭제
move["총 이동인구 수"]=result # "총 이동인구 수" 열을 생성하고 합산 결과를 집어넣음
move

    전출지별     전입지별   총 이동인구 수
1     전국       전국  391932793
2    NaN    서울특별시  109885155
3    NaN    부산광역시   31531929
4    NaN    대구광역시   17346829
5    NaN    인천광역시   17565815
..   ...      ...        ...
320  NaN     전라북도      26241
321  NaN     전라남도      78686
322  NaN     경상북도      36640
323  NaN     경상남도      67083
324  NaN  제주특별자치도    2443289

[324 rows x 3 columns]

In [292]:
local=list(move["전입지별"].unique()) # 현길님 아이디어
#local=["전국","서울","부산","대구","인천","광주","대전","울산","세종특별자치시","경기도","강원도","충청북도","충청남도","전라북도","전라남도","경상북도","경상남도","제주특별자치도"] # 총 합산 결과의 부분과 같이 합쳐져서 Dict로 만들기 위해 지역 리스트 생성
len(local) # 지역의 종류는 총 18가지임

18

In [293]:
default=2 # x 번째로 많이 왔던 지역을 지정(0 : 전국,, 1 : 대부분 서울)
print(f"1970~2016년 동안 각 지역으로 제일 많이 간 사람들의 {default}번째 지역 소개 ") # 소개문구

for i,v in enumerate(local): #이동한 지역별 사람들 수를 comprehension으로 만들기
    move_to=[f'{move["총 이동인구 수"][j+i]}' for j in range(1, 325, 18)] # 각 지역별로 18인덱스씩 건너뛰면서 데이터를 리스트에 수집
    move_to_zip=dict(zip(move_to, local)) # zip으로 local리스트와 move_to데이터를 엮음
    sorted_key=list(map(int,list(move_to_zip.keys()))) # zip으로 합치면서 str로 변경된 키값들을 int형으로 형변환
    sorted_key.sort(reverse=True) # 내림차순 정렬 수행
    print(f"{v:13} <--- {move_to_zip[str(sorted_key[default])]}") # 화살표가 가르키는 방향으로 어떤 지역 사람들이 많이 갔다 출력

1970~2016년 동안 각 지역으로 제일 많이 간 사람들의 2번째 지역 소개
전국            <--- 경기도
서울특별시         <--- 경기도
부산광역시         <--- 경상남도
대구광역시         <--- 경상북도
인천광역시         <--- 경기도
광주광역시         <--- 전라남도
대전광역시         <--- 충청남도
울산광역시         <--- 부산광역시
세종특별자치시       <--- 세종특별자치시
경기도           <--- 서울특별시
강원도           <--- 서울특별시
충청북도          <--- 서울특별시
충청남도          <--- 서울특별시
전라북도          <--- 서울특별시
전라남도          <--- 서울특별시
경상북도          <--- 대구광역시
경상남도          <--- 부산광역시
제주특별자치도       <--- 서울특별시